
.wrapper {
    font-family: 'Noto Serif', serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto', sans-serif;
    display: block;
    margin: auto;
    background-color: #0e0e0e;
    color: white;
    width: 350px;
    height: 120px;
    border-radius: 5px;
}

.header {
    text-align: left;
    padding: 10px;
}

.buttonForm {
    width: fit-content;
    text-align: left;
    padding: 10px;
}

.buttonText:hover {
    cursor: pointer;
}

.buttonText {
    opacity: 0.75;
}
