
.wrapper {
    font-family: 'Noto Serif', serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto', sans-serif;
    display: block;
    margin: auto;
    background-color: #0e0e0e;
    color: white;
    width: 350px;
    height: 120px;
    border-radius: 5px;
}

.header {
    text-align: left;
    padding: 15px 10px;
    font-size: 14px;
}

.buttonForm {
    width: fit-content;
    text-align: left;
    padding: 10px;
}

.buttonText:hover, .buttonPlus:hover {
    cursor: pointer;
}

.addCard {
    padding-top: 20px;
}

.buttonPlus {
    opacity: 0.75;
    position: relative;
    top: -1.7px;
}

.buttonText {
    opacity: 0.75;
    padding-left: 5px;

}

.inputField {
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
    width: 320px;
    height: 20px;
    caret-color: deepskyblue;
}
